h1{
    text-align: center;
    font-size: 36px;
    line-height: 1.5;
    color: rgb(194, 119, 155);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
h3{
    text-align: center;
    color: rgb(194, 119, 155);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background-color: 	rgb(255, 255, 255);
}
main{
    margin:80px auto;
    max-width:600px;
    background-color: rgb(230, 209, 212);
    border-radius: 20px;
    padding: 10px;
}
header{
    margin-bottom: 20px;
}
form{
    border-color: rgb(130, 59, 115);
    padding:40px;
    border-radius: 20px;
    display:flex;
     
}
a{
    color: rgb(194, 119, 155);
}
.instructions{
    padding:16px;
    border-color: rgb(130, 59, 115);
    width:80%;
    font-size: 16px;
    border: none;
    color:rgb(130, 59, 115);
    border-radius: 15px;
    
}
.submit-button{
    margin-left: 10px;
    background-color: rgb(194, 119, 155);
    padding:20px;
    color: ivory;
    border:rgb(194, 119, 155);
    width: 150px;
    font-size:16px;
    border-radius: 15px;
    padding:14px 24px;
    box-shadow:  0 20px 60px rgba(116, 47, 103, 0.233) ;
}
.container{
    font-size: 14px;
    color: rgb(130, 59, 115);
    padding:20px;
    box-shadow: 0 10px 30px rgba(116, 47, 103, 0.233);
    border-radius:10px;
}
.poem{
    display: flex;
}
.hint{
    font-size: 10px;
}
footer{
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    
}
